/* paymentStyle.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.slide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#efeded, #92eab8);
    flex-direction: column;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.payment-options {
    text-align: right;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.option {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
}

.option img {
    max-width: 100%;
    height: auto;
    max-height: 30px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Added margin at the top of the form */
}

label {
    margin-bottom: 10px;
}

input {
    width: 80%; /* Increased width of the input field */
    padding: 10px; /* Increased padding */
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px; /* Increased padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
