/* paymentStyle.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.slide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.payment-options {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
}

.option {
    margin: 0 20px;
    text-align: center;
}

.option img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
